body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-color {
  border: 1px solid #ec4d4e;
  color: #ec4d4e;
}

.btn-color:hover {
  background-color: #ec4d4e;
  color: white;
}

.text-color {
  color: #ec4d4e !important;
  font-weight: 500;
}

.hover-text:hover {
  color: #000 !important;
}

.icon-color:hover {
  color: #ec4d4e !important;
}

.error-btn {
  background-color: #ec4d4e;
  color: #fff;
}

.error-btn:hover {
  color: white;
  background-color: #d84545;
}
